<!-- <div class="container">
    <div class="row">
     <div class="col-md-4 text-center">
      <form>
          <img class="img-responsive" src="assets/img/TestNg.jpg" alt="TestNg"> 
          <button type="submit" class="btn btn-primary">Run TestNg</button>
      </form>
     </div>
    </div>
  </div> -->
  <form style="height:50px">
	<img class="float-left" src="assets/img/TestNg.jpg" alt="TestNg" style="max-height:100%">
	<button type="submit" class="btn btn-primary float-right">Run TestNg</button>
</form>